<div class="page-nav{{#each _modifiers}} page-nav--{{this}}{{/each}}">
{{#if title}}
<div class="page-nav__title">
{{title}}
</div>
{{/if}}
{{#if internalLinks.[0]}}
<div class="page-nav__internal-links">
{{#each internalLinks}}
{{#if this.href}}
<a class="page-nav__internal-links__internal-link" href="{{this.href}}" title="{{this.title}}" {{#if this.isNewTab}}target="_blank"{{/if}} {{#if this.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{this.label}}
</a>
{{/if}}
{{/each}}
</div>
{{/if}}
{{#if externalLinks.[0]}}
<div class="page-nav__external-links">
{{#each externalLinks}}
{{#if this.href}}
<a class="page-nav__external-links__external-link" href="{{this.href}}" title="{{this.title}}" {{#if this.isNewTab}}target="_blank"{{/if}} {{#if this.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{this.label}}
</a>
{{/if}}
{{/each}}
</div>
{{/if}}
</div>