<div class="site-header{{#each _modifiers}} site-header--{{this}}{{/each}}">
{{#if primaryLinks.[0]}}
<div class="site-header__primary-links">
{{#each primaryLinks}}
<div class="site-header__primary-links__primary-link">
{{#if link.href}}
<a class="site-header__primary-links__primary-link__link" href="{{link.href}}" title="{{link.title}}" {{#if link.isNewTab}}target="_blank"{{/if}} {{#if link.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{link.label}}
</a>
{{/if}}
{{#if mobileLinks.[0]}}
<div class="site-header__primary-links__primary-link__mobile-links">
{{#each mobileLinks}}
{{#if this.href}}
<a class="site-header__primary-links__primary-link__mobile-links__mobile-link" href="{{this.href}}" title="{{this.title}}" {{#if this.isNewTab}}target="_blank"{{/if}} {{#if this.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{this.label}}
</a>
{{/if}}
{{/each}}
</div>
{{/if}}
</div>
{{/each}}
</div>
{{/if}}
{{#if secondaryLinks.[0]}}
<div class="site-header__secondary-links">
{{#each secondaryLinks}}
{{#if this.href}}
<a class="site-header__secondary-links__secondary-link" href="{{this.href}}" title="{{this.title}}" {{#if this.isNewTab}}target="_blank"{{/if}} {{#if this.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{this.label}}
</a>
{{/if}}
{{/each}}
</div>
{{/if}}
{{#if documentLinks.[0]}}
<div class="site-header__document-links">
{{#each documentLinks}}
{{#if this.href}}
<a class="site-header__document-links__document-link" href="{{this.href}}" title="{{this.title}}" {{#if this.isNewTab}}target="_blank"{{/if}} {{#if this.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{this.label}}
</a>
{{/if}}
{{/each}}
</div>
{{/if}}
{{#if socialLinks.[0]}}
<div class="site-header__social-links">
{{#each socialLinks}}
{{#if this.href}}
<a class="site-header__social-links__social-link" href="{{this.href}}" title="{{this.title}}" {{#if this.isNewTab}}target="_blank"{{/if}} {{#if this.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{this.label}}
</a>
{{/if}}
{{/each}}
</div>
{{/if}}
<div class="site-header__address">
{{#if address.email.href}}
<a class="site-header__address__email" href="{{address.email.href}}" title="{{address.email.title}}" {{#if address.email.isNewTab}}target="_blank"{{/if}} {{#if address.email.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{address.email.label}}
</a>
{{/if}}
{{#if address.telephone.href}}
<a class="site-header__address__telephone" href="{{address.telephone.href}}" title="{{address.telephone.title}}" {{#if address.telephone.isNewTab}}target="_blank"{{/if}} {{#if address.telephone.isExternalLink}}rel="noopener noreferrer"{{/if}}>
{{address.telephone.label}}
</a>
{{/if}}
{{#if address.addressLines.[0]}}
<div class="site-header__address__address-lines">
{{#each address.addressLines}}
{{#if line}}
<div class="site-header__address__address-lines__line">
{{line}}
</div>
{{/if}}
{{/each}}
</div>
{{/if}}
</div>
</div>